.container {
  height: 600px;
  margin: 20px;
  display: grid;
  grid-template-columns: 9fr 3fr 1fr;
  grid-template-rows: 9fr 3fr 1fr;
}
.cell {
  color: white;
  text-align: center;
  padding: 20px;
}
.cell-1today {
  background: #9fd3c7;
}
.cell-2tomorrow {
  background: #385170;
}
.cell-3future {
  background: #142d4c;
}
.cell-4tomorrow {
  background: #385170;
}
.cell-5tomorrow {
  background: #385170;
}
.cell-6future {
  background: #142d4c;
}
.cell-7future {
  background: #142d4c;
}
.cell-8future {
  background: #142d4c;
}
.cell-9future {
  background: #142d4c;
}
h1 {
  font-size: 24pt;
  font-family: "Oswald", sans-serif;
  padding-bottom: 1px;
  margin-bottom: 1px;
}
h2 {
  font-size: 40pt;
  font-family: "Sacramento", cursive;
  padding-top: 1px;
  margin-top: 1px;
}

h3 {
  font-size: 18pt;
  font-family: "Oswald", sans-serif;
}

h4,
h5,
h6,
h7 {
  font-size: 12pt;
  font-family: "Oswald", sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 1px;
}

p {
  font-size: 14pt;
  font-family: "Sacramento", cursive;
}
/*
.search-icon {
  position: absolute;
  top: 12px;
  left: 7px;
  width: 15px;
}

.clear-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 10px;
  cursor: pointer;
}*/
#search-bar {
  border: 2px solid #142d4c;
  border-radius: 5px;
  height: 15px;
  width: 100%;
  padding: 10px 25px;
  outline: 0;
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#search-bar:hover,
#search-bar:focus {
  border: 2px solid #9fd3c7;
  background-color: white;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #142d4c;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #142d4c;
  opacity: 0.7;
}
